<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>


<title>Crear Perfil</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous"></link>


<!-- Custom styles for this template -->
<link href="/css/scrolling-nav.css" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>



<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>


<!-- Plugin JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js.map"></script>

<!-- Custom JavaScript for this theme -->
<script src="/js/scrolling-nav.js"></script>
<script src="/js/formulario.js"></script>
<script src="/js/validacionform.js"></script>

<script src="/js/cloudinary.js"></script>

<script src="//widget.cloudinary.com/global/all.js"
	type="text/javascript"></script>
<script
	src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>



</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">Arma
				Tu Fecha</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="/login">Log in</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<header class="bg-primary text-white bootstrap-override-header"
		id="color1">
		<div class="container text-center">
			<div class="row">
				<div class="col-12">
					<h1>
						Ingresá tus datos y selecciona<br>el tipo de perfil que vas a
						crear
					</h1>
					<h5>(Los campos marcados con * son obligatorios)</h5>
					<div class="alert alert-danger" role="alert"
						th:text="${aviso_incompleto}" th:if="${aviso_incompleto}"></div>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">

					<div class="alert alert-danger" role="alert"
						th:text="${aviso_mail}" th:if="${aviso_mail}"></div>
					<br> <label>*Ingresá una dirección de e-mail:&nbsp;</label> <br>

					<input class="form-control" id="mail" type="email"
						placeholder="mail..." th:value="${mailCargado}" required></input>
					<div class="invalid-feedback">Por favor completa este campo.</div>
					<div class="valid-feedback"></div>
					<br></br>
					<div class="alert alert-danger" role="alert"
						th:text="${aviso_contrasenia}" th:if="${aviso_contrasenia}"
						required></div>
					<label>*Ingresá una contraseña:&nbsp;</label> <br> <input
						class="form-control" id="contrasenia" type="password"
						placeholder="contraseña..."></input> <br></br>
					<div class="invalid-feedback">Por favor completa este campo.</div>
					<div class="valid-feedback"></div>
					<label>*Volvé a ingresar la contraseña:&nbsp;</label> <br> <input
						class="form-control" id="contrasenia2" type="password"
						placeholder="contraseña..."></input> <br></br>
					<div class="invalid-feedback">Por favor completa este campo.</div>
					<div class="valid-feedback"></div>

					<!-- TO DO re ingresar contraseña y en caso de no coincidir recargar el formulario -->
				</div>
				<div class="form-group">
					<label> <input id="tipo-local" type="radio"
						name="tipoPerfil" value="local"> Lugar donde armar fechas
						</input> <br></br>
					</label> <label> <input id="tipo-musico" type="radio"
						name="tipoPerfil" value="musico"> Músico, banda,
						solista,etc.</input> <br></br>
					</label> <br> <label id="continua">Continua con el siguiente
						formulario...</label>
				</div>

			</div>
		</div>
	</header>

	<section id="formulario-local" class="bootstrap-override-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<form class="form-group needs-validation"
						action="/procesar-perfil/local" method="POST">

						<h3 class="no-margin-top">Completa los datos para tu perfil</h3>
						<input class="mail" type="hidden" name="mail"></input> <input
							class="contrasenia" type="hidden" name="contrasenia" required></input>
						<input class="contrasenia2" type="hidden" name="contrasenia2"
							required></input> <label>*Nombre del lugar:&nbsp;</label><input
							class="form-control" name="nombre" type="text"
							th:value="${nombreCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br>
						<div class="form-group">
							<label for="exampleFormControlSelect2">*Provincia:</label> <select
								multiple class="form-control" id="exampleFormControlSelect2"
								name="provincia" required>
								<option value="Buenos Aires" th:selected="${provincia} == 'Buenos Aires'" >Buenos Aires</option>
								<option value="Catamarca" th:selected="${provincia} == 'Catamarca'">Catamarca</option>
								<option value="Chaco" th:selected="${provincia} == 'Chaco'" >Chaco</option>
								<option value="Chubut" th:selected="${provincia} == 'Chubut'" >Chubut</option>
								<option value="Córdoba" th:selected="${provincia} == 'Córdoba'">Córdoba</option>
								<option value="Corrientes" th:selected="${provincia} == 'Corrientes'">Corrientes</option>
								<option value="Entre Ríos" th:selected="${provincia} == 'Entre Ríos'">Entre Ríos</option>
								<option value="Formosa" th:selected="${provincia} == 'Formosa'">Formosa</option>
								<option value="Jujuy" th:selected="${provincia} == 'Jujuy'">Jujuy</option>
								<option value="La Pampa" th:selected="${provincia} == 'La Pampa'">La Pampa</option>
								<option value="La Rioja" th:selected="${provincia} == 'La Rioja'">La Rioja</option>
								<option value="Mendoza" th:selected="${provincia} == 'Mendoza'">Mendoza</option>
								<option value="Misiones" th:selected="${provincia} == 'Misiones'">Misiones</option>
								<option value="Neuquén" th:selected="${provincia} == 'Neuquén'">Neuquén</option>
								<option value="Río Negro" th:selected="${provincia} == 'Río Negro'">Río Negro</option>
								<option value="Salta" th:selected="${provincia} == 'Salta'">Salta</option>
								<option value="San Juan" th:selected="${provincia} == 'San Juan'">San Juan</option>
								<option value="San Luis" th:selected="${provincia} == 'San Luis'">San Luis</option>
								<option value="Santa Cruz" th:selected="${provincia} == 'Santa Cruz'">Santa Cruz</option>
								<option value="Santa Fe" th:selected="${provincia} == 'Santa Fe'">Santa Fe</option>
								<option value="Santiago del Estero" th:selected="${provincia} == 'Santiago del Estero'">Santiago del Estero</option>
								<option value="Tierra del Fuego" th:selected="${provincia} == 'Tierra del Fuego'">Tierra del Fuego</option>
								<option value="Tucumán" th:selected="${provincia} == 'Tucumán'">Tucumán</option>

							</select>
							<div class="invalid-feedback">Por favor selecciona una
								provincia.</div>
							<div class="valid-feedback"></div>
						</div>
						<label>*Localidad/Ciudad (Si estan en capital, escribi CABA):&nbsp;</label><input class="form-control"
							name="localidad" type="text" th:value="${localidadCargada}"
							required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Dirección:&nbsp;</label><input
							class="form-control" name="direccion" type="text"
							th:value="${direccionCargada}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Teléfono de contacto para organizar
							fechas:&nbsp;</label><input class="form-control" name="telefono"
							type="text" th:value="${telefonoCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*e-mail para contacto:&nbsp;</label><input
							class="form-control" name="mail_contacto" type="email"
							th:value="${mail_contactoCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Descripción del lugar (máx. 1400
							caracteres). Debe incluir: tipo de establecimiento, equipamiento
							de sonido, arreglo con los músicos (puerta para las bandas,
							arreglo 70-30 o similar por entradas, pago de un cashé, etc.),
							capacidad, estilos musicales de los shows):</label> <br></br>
						<textarea class="form-control textarea-height" name="descripcion"
							type="text" maxlength="1400" th:text="${descripcionCargada}"
							required></textarea>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>Agrega 3 fotos a tu perfil:</label><br><br>
						<div class="alert alert-danger" role="alert"
							th:text="${aviso_fotos}" th:if="${aviso_fotos}"></div>
						<div class="row">
							<div class="col-md-4 text-center">
								<div id="preview1"></div>
								<input type="button" href="#" id="upload_widget_opener1" value="Agregar una foto" class="btn btn-outline-dark"></input><br>
								<input type="hidden" id="foto1" name="foto1"></input>
							</div>
							<div class="col-md-4 text-center">
								<div id="preview2"></div>
								<input type="button" href="#" id="upload_widget_opener2" value="Agregar una foto" class="btn btn-outline-dark"></input><br> 
								<input type="hidden" id="foto2" name="foto2"></input>
							</div>
							<div class="col-md-4 text-center">
								<div id="preview3"></div>
								<input type="button" href="#" id="upload_widget_opener3" value="Agregar una foto" class="btn btn-outline-dark"></input><br>
								<input	type="hidden" id="foto3" name="foto3"></input>
							</div>
						</div>

						<br></br> <label>Links a redes sociales:&nbsp;</label><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social1" type="url"
							th:value="${red_social1Cargada}"></input><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social2" type="url"
							th:value="${red_social2Cargada}"></input><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social3" type="url"
							th:value="${red_social3Cargada}"></input><br></br>

						<div class="text-center">
							<input class="btn btn-outline-dark btn-lg" type="submit"
								value="Crear"></input>
						</div>

					</form>

				</div>
			</div>
		</div>
	</section>

	<section id="formulario-musico" class="bootstrap-override-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<form class="form-group needs-validation"
						action="/procesar-perfil/musico" method="POST">

						<h3 class="no-margin-top">Completa los datos para tu perfil</h3>
						<input class="mail" type="hidden" name="mail"></input> <input
							class="contrasenia" type="hidden" name="contrasenia" required></input>
						<input class="contrasenia2" type="hidden" name="contrasenia2"
							required></input> <label>*Nombre de la
							banda/solista/etc.:&nbsp;</label><input class="form-control"
							name="nombre" type="text" th:value="${nombreCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br>

						<div class="form-group">
							<label for="exampleFormControlSelect3">*Provincia:</label> <select
								multiple class="form-control" id="exampleFormControlSelect3"
								name="provincia" required>
								<option value="Buenos Aires" th:selected="${provincia} == 'Buenos Aires'" >Buenos Aires</option>
								<option value="Catamarca" th:selected="${provincia} == 'Catamarca'">Catamarca</option>
								<option value="Chaco" th:selected="${provincia} == 'Chaco'" >Chaco</option>
								<option value="Chubut" th:selected="${provincia} == 'Chubut'" >Chubut</option>
								<option value="Córdoba" th:selected="${provincia} == 'Córdoba'">Córdoba</option>
								<option value="Corrientes" th:selected="${provincia} == 'Corrientes'">Corrientes</option>
								<option value="Entre Ríos" th:selected="${provincia} == 'Entre Ríos'">Entre Ríos</option>
								<option value="Formosa" th:selected="${provincia} == 'Formosa'">Formosa</option>
								<option value="Jujuy" th:selected="${provincia} == 'Jujuy'">Jujuy</option>
								<option value="La Pampa" th:selected="${provincia} == 'La Pampa'">La Pampa</option>
								<option value="La Rioja" th:selected="${provincia} == 'La Rioja'">La Rioja</option>
								<option value="Mendoza" th:selected="${provincia} == 'Mendoza'">Mendoza</option>
								<option value="Misiones" th:selected="${provincia} == 'Misiones'">Misiones</option>
								<option value="Neuquén" th:selected="${provincia} == 'Neuquén'">Neuquén</option>
								<option value="Río Negro" th:selected="${provincia} == 'Río Negro'">Río Negro</option>
								<option value="Salta" th:selected="${provincia} == 'Salta'">Salta</option>
								<option value="San Juan" th:selected="${provincia} == 'San Juan'">San Juan</option>
								<option value="San Luis" th:selected="${provincia} == 'San Luis'">San Luis</option>
								<option value="Santa Cruz" th:selected="${provincia} == 'Santa Cruz'">Santa Cruz</option>
								<option value="Santa Fe" th:selected="${provincia} == 'Santa Fe'">Santa Fe</option>
								<option value="Santiago del Estero" th:selected="${provincia} == 'Santiago del Estero'">Santiago del Estero</option>
								<option value="Tierra del Fuego" th:selected="${provincia} == 'Tierra del Fuego'">Tierra del Fuego</option>
								<option value="Tucumán" th:selected="${provincia} == 'Tucumán'">Tucumán</option>

							</select>
							<div class="invalid-feedback">Por favor selecciona una
								provincia.</div>
							<div class="valid-feedback"></div>
						</div>
						<label>*Localidad/Ciudad (Si estan en capital, escribi CABA):&nbsp;</label><input class="form-control"
							name="localidad" type="text" th:value="${localidadCargada}"
							required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Teléfono de contacto:&nbsp;</label><input
							class="form-control" name="telefono" type="text"
							th:value="${telefonoCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*e-mail para contacto:&nbsp;</label><input
							class="form-control" name="mail_contacto" type="email"
							th:value="${mailCargado}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br>
						<div class="form-group">
							<label for="exampleFormControlSelect3">Por favor,
								selecciona uno o dos géneros musicales<br> (esto es para
								simplificar la busqueda, podes explayarte mas en la
								descripción):
							</label><br> <label>Género 1:</label><select multiple
								class="form-control" id="exampleFormControlSelect4"
								name="genero1">
								<option value="Blues" th:selected="${genero1} == 'Blues'">Blues</option>
								<option value="Bossa Nova" th:selected="${genero1} == 'Bossa Nova'">Bossa Nova</option>
								<option value="Cancion" th:selected="${genero1} == 'Cancion'">Cancion</option>
								<option value="Country" th:selected="${genero1} == 'Country'">Country</option>
								<option value="Cumbia" th:selected="${genero1} == 'Cumbia'">Cumbia</option>
								<option value="Disco" th:selected="${genero1} == 'Disco'">Disco</option>
								<option value="Electrónica" th:selected="${genero1} == 'Electrónica'">Electrónica</option>
								<option value="Folklore" th:selected="${genero1} == 'Folklore'">Folklore</option>
								<option value="Folk" th:selected="${genero1} == 'Folk'">Folk</option>
								<option value="Funk" th:selected="${genero1} == 'Funk'">Funk</option>
								<option value="Free Jazz" th:selected="${genero1} == 'Free Jazz'">Free Jazz</option>
								<option value="Garage" th:selected="${genero1} == 'Garage'">Garage</option>
								<option value="Gospel" th:selected="${genero1} == 'Gospel'">Gospel</option>
								<option value="Grunge" th:selected="${genero1} == 'Grunge'">Grunge</option>
								<option value="Hardcore" th:selected="${genero1} == 'Hardcore'">Hardcore</option>
								<option value="Hard Rock" th:selected="${genero1} == 'Hard Rock'">Hard Rock</option>
								<option value="Heavy Metal" th:selected="${genero1} == 'Heavy Metal'">Heavy Metal</option>
								<option value="Hip Hop" th:selected="${genero1} == 'Hip Hop'">Hip Hop</option>
								<option value="House" th:selected="${genero1} == 'House'">House</option>
								<option value="Indie" th:selected="${genero1} == 'Indie'">Indie​</option>
								<option value="Jazz" th:selected="${genero1} == 'Jazz'">Jazz</option>​
								<option value="Pop" th:selected="${genero1} == 'Pop'">Pop</option>
								<option value="Punk" th:selected="${genero1} == 'Punk'">Punk</option>
								<option value="Post Punk" th:selected="${genero1} == 'Post Punk'">Post Punk</option>
								<option value="Rap" th:selected="${genero1} == 'Rap'">Rap</option>
								<option value="Reggae" th:selected="${genero1} == 'Reggae'">Reggae</option>
								<option value="Reggaeton" th:selected="${genero1} == 'Reggaeton'">Reggaeton</option>
								<option value="Rhythm and Blues (R&B)" th:selected="${genero1} == 'Rhythm and Blues (R&B)'">Rhythm and Blues (R&B)</option>
								<option value="Rock" th:selected="${genero1} == 'Rock'">Rock</option>
								<option value="Rockabilly" th:selected="${genero1} == 'Rockabilly'">Rockabilly</option>
								<option value="Rock Alternativo" th:selected="${genero1} == 'Rock Alternativo'">Rock Alternativo</option>
								<option value="Rock and Roll" th:selected="${genero1} == 'Rock and Roll'">Rock and Roll</option>
								<option value="Rock Stoner" th:selected="${genero1} == 'Rock Stoner'">Rock Stoner</option>
								<option value="Rock Progresivo" th:selected="${genero1} == 'Rock Progresivo'">Rock Progresivo</option>
								<option value="Salsa" th:selected="${genero1} == 'Salsa'">Salsa</option>
								<option value="Shoegaze" th:selected="${genero1} == 'Shoegaze'">Shoegaze</option>
								<option value="Ska" th:selected="${genero1} == 'Ska'">Ska</option>
								<option value="Soul" th:selected="${genero1} == 'Soul'">Soul</option>
								<option value="Swing" th:selected="${genero1} == 'Swing'">Swing</option>
								<option value="Tango" th:selected="${genero1} == 'Tango'">Tango</option>
								<option value="Trap" th:selected="${genero1} == 'Trap'">Trap</option>
								<option value="Trash Metal" th:selected="${genero1} == 'Trash Metal'">Trash Metal</option>
								<option value="Trip hop" th:selected="${genero1} == 'Trip hop'">Trip hop</option>

							</select><br> <label>Género 2:</label><select multiple class="form-control"
								id="exampleFormControlSelect5" name="genero2">
								<option value="Blues" th:selected="${genero2} == 'Blues'">Blues</option>
								<option value="Bossa Nova" th:selected="${genero2} == 'Bossa Nova'">Bossa Nova</option>
								<option value="Cancion" th:selected="${genero2} == 'Cancion'">Cancion</option>
								<option value="Country" th:selected="${genero2} == 'Country'">Country</option>
								<option value="Cumbia" th:selected="${genero2} == 'Cumbia'">Cumbia</option>
								<option value="Disco" th:selected="${genero2} == 'Disco'">Disco</option>
								<option value="Electrónica" th:selected="${genero2} == 'Electrónica'">Electrónica</option>
								<option value="Folklore" th:selected="${genero2} == 'Folklore'">Folklore</option>
								<option value="Folk" th:selected="${genero2} == 'Folk'">Folk</option>
								<option value="Funk" th:selected="${genero2} == 'Funk'">Funk</option>
								<option value="Free Jazz" th:selected="${genero2} == 'Free Jazz'">Free Jazz</option>
								<option value="Garage" th:selected="${genero2} == 'Garage'">Garage</option>
								<option value="Gospel" th:selected="${genero2} == 'Gospel'">Gospel</option>
								<option value="Grunge" th:selected="${genero2} == 'Grunge'">Grunge</option>
								<option value="Hardcore" th:selected="${genero2} == 'Hardcore'">Hardcore</option>
								<option value="Hard Rock" th:selected="${genero2} == 'Hard Rock'">Hard Rock</option>
								<option value="Heavy Metal" th:selected="${genero2} == 'Heavy Metal'">Heavy Metal</option>
								<option value="Hip Hop" th:selected="${genero2} == 'Hip Hop'">Hip Hop</option>
								<option value="House" th:selected="${genero2} == 'House'">House</option>
								<option value="Indie" th:selected="${genero2} == 'Indie'">Indie​</option>
								<option value="Jazz" th:selected="${genero2} == 'Jazz'">Jazz</option>​
								<option value="Pop" th:selected="${genero2} == 'Pop'">Pop</option>
								<option value="Punk" th:selected="${genero2} == 'Punk'">Punk</option>
								<option value="Post Punk" th:selected="${genero2} == 'Post Punk'">Post Punk</option>
								<option value="Rap" th:selected="${genero2} == 'Rap'">Rap</option>
								<option value="Reggae" th:selected="${genero2} == 'Reggae'">Reggae</option>
								<option value="Reggaeton" th:selected="${genero2} == 'Reggaeton'">Reggaeton</option>
								<option value="Rhythm and Blues (R&B)" th:selected="${genero2} == 'Rhythm and Blues (R&B)'">Rhythm and Blues (R&B)</option>
								<option value="Rock" th:selected="${genero2} == 'Rock'">Rock</option>
								<option value="Rockabilly" th:selected="${genero2} == 'Rockabilly'">Rockabilly</option>
								<option value="Rock Alternativo" th:selected="${genero2} == 'Rock Alternativo'">Rock Alternativo</option>
								<option value="Rock and Roll" th:selected="${genero2} == 'Rock and Roll'">Rock and Roll</option>
								<option value="Rock Stoner" th:selected="${genero2} == 'Rock Stoner'">Rock Stoner</option>
								<option value="Rock Progresivo" th:selected="${genero2} == 'Rock Progresivo'">Rock Progresivo</option>
								<option value="Salsa" th:selected="${genero2} == 'Salsa'">Salsa</option>
								<option value="Shoegaze" th:selected="${genero2} == 'Shoegaze'">Shoegaze</option>
								<option value="Ska" th:selected="${genero2} == 'Ska'">Ska</option>
								<option value="Soul" th:selected="${genero2} == 'Soul'">Soul</option>
								<option value="Swing" th:selected="${genero2} == 'Swing'">Swing</option>
								<option value="Tango" th:selected="${genero2} == 'Tango'">Tango</option>
								<option value="Trap" th:selected="${genero2} == 'Trap'">Trap</option>
								<option value="Trash Metal" th:selected="${genero2} == 'Trash Metal'">Trash Metal</option>
								<option value="Trip hop" th:selected="${genero2} == 'Trip hop'">Trip hop</option>

							</select> <br>
							<br>
						</div>
						<label>*Descripción del proyecto musical. Debe incluir:
							requerimientos técnicos de sonido, cantidad de integrantes,
							estilo musical, cashé o arreglo mínimo que aceptan (puerta,
							porcentaje de entradas, etc.):</label> <br></br>
						<textarea class="form-control textarea-height" name="descripcion"
							type="text" maxlength="1400" th:text="${descripcionCargada}"
							required></textarea>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>Agrega 3 fotos a tu perfil:</label><br><br>
						<div class="alert alert-danger" role="alert"
							th:text="${aviso_fotos}" th:if="${aviso_fotos}"></div>
						<div class="row">
							<div class="col-md-4 text-center">
								<div id="preview4"></div>
								<input type="button" href="#" id="upload_widget_opener4" value="Agregar una foto" class="btn btn-outline-dark"></input><br>
								<input type="hidden" id="foto4" name="foto1"></input>
							</div>
							<div class="col-md-4 text-center">
								<div id="preview5"></div>
								<input type="button" href="#" id="upload_widget_opener5" value="Agregar una foto" class="btn btn-outline-dark"></input><br> 
								<input type="hidden" id="foto5" name="foto2"></input>
							</div>
							<div class="col-md-4 text-center">
								<div id="preview6"></div>
								<input type="button" href="#" id="upload_widget_opener6" value="Agregar una foto" class="btn btn-outline-dark"></input><br>
								<input	type="hidden" id="foto6" name="foto3"></input>
							</div>
						</div>
						
						<br></br> <label>Links a redes sociales:&nbsp;</label><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social1" type="url"
							th:value="${red_social1Cargada}"></input><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social2" type="url"
							th:value="${red_social2Cargada}"></input><br></br> <label>Facebook, Instagram, etc.:&nbsp;</label><input
							class="form-control" name="red_social3" type="url"
							th:value="${red_social3Cargada}"></input><br></br> <label>Links
							a tu música:&nbsp;</label><br></br>
						<label>Youtube, Bandcamp, Spotify, Soundcloud, etc.:&nbsp;</label><input class="form-control"
							name="link_musica1" type="url" th:value="${link_musicaCargado1}"></input><br></br>
						<label>Youtube, Bandcamp, Spotify, Soundcloud, etc.:&nbsp;</label><input class="form-control"
							name="link_musica2" type="url" th:value="${link_musicaCargado2}"></input><br></br>
						<label>Youtube, Bandcamp, Spotify, Soundcloud, etc.:&nbsp;</label><input class="form-control"
							name="link_musica3" type="url" th:value="${link_musicaCargado3}"></input><br></br>

						<div class="text-center">
							<input class="btn btn-outline-dark btn-lg" type="submit"
								value="Crear"></input>
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2018</p>
		</div>
		<!-- /.container -->
	</footer>


</body>

</html>
