<!DOCTYPE html>
<html lang="es" layout:decorate="~{estructura-logueado}">

<head>

<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>


<title>Editar Perfil</title>



</head>

<body id="page-top">

	<!-- Navigation -->


	<header class="bg-primary text-white bootstrap-override-header"
		id="color1" layout:fragment="~{header-logueado}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12">
					<h1>Modifica los datos de tu perfil</h1>
					<h5>(Los campos marcados con * son obligatorios)</h5>
					<div class="alert alert-danger" role="alert"
						th:text="${aviso_incompleto}" th:if="${aviso_incompleto}"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<form class="form-group needs-validation" 
						th:action="'/locales/mi-perfil/procesar-edicion/' + ${id_usuario}"
						method="POST">

						<label>*Nombre del lugar:&nbsp;</label><input class="form-control"
							name="nombre" type="text" th:value="${nombre}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br>
						<div class="form-group">
							<label>*Provincia:</label> <select multiple class="form-control"
								id="exampleFormControlSelect2" name="provincia" required>
								<option value="Buenos Aires" th:selected="${provincia} == 'Buenos Aires'" >Buenos Aires</option>
								<option value="Catamarca" th:selected="${provincia} == 'Catamarca'">Catamarca</option>
								<option value="Chaco" th:selected="${provincia} == 'Chaco'" >Chaco</option>
								<option value="Chubut" th:selected="${provincia} == 'Chubut'" >Chubut</option>
								<option value="Córdoba" th:selected="${provincia} == 'Córdoba'">Córdoba</option>
								<option value="Corrientes" th:selected="${provincia} == 'Corrientes'">Corrientes</option>
								<option value="Entre Ríos" th:selected="${provincia} == 'Entre Ríos'">Entre Ríos</option>
								<option value="Formosa" th:selected="${provincia} == 'Formosa'">Formosa</option>
								<option value="Jujuy" th:selected="${provincia} == 'Jujuy'">Jujuy</option>
								<option value="La Pampa" th:selected="${provincia} == 'La Pampa'">La Pampa</option>
								<option value="La Rioja" th:selected="${provincia} == 'La Rioja'">La Rioja</option>
								<option value="Mendoza" th:selected="${provincia} == 'Mendoza'">Mendoza</option>
								<option value="Misiones" th:selected="${provincia} == 'Misiones'">Misiones</option>
								<option value="Neuquén" th:selected="${provincia} == 'Neuquén'">Neuquén</option>
								<option value="Río Negro" th:selected="${provincia} == 'Río Negro'">Río Negro</option>
								<option value="Salta" th:selected="${provincia} == 'Salta'">Salta</option>
								<option value="San Juan" th:selected="${provincia} == 'San Juan'">San Juan</option>
								<option value="San Luis" th:selected="${provincia} == 'San Luis'">San Luis</option>
								<option value="Santa Cruz" th:selected="${provincia} == 'Santa Cruz'">Santa Cruz</option>
								<option value="Santa Fe" th:selected="${provincia} == 'Santa Fe'">Santa Fe</option>
								<option value="Santiago del Estero" th:selected="${provincia} == 'Santiago del Estero'">Santiago del Estero</option>
								<option value="Tierra del Fuego" th:selected="${provincia} == 'Tierra del Fuego'">Tierra del Fuego</option>
								<option value="Tucumán" th:selected="${provincia} == 'Tucumán'">Tucumán</option>
							</select>
							
						</div>
						<label>*Localidad:&nbsp;</label><input class="form-control"
							name="localidad" type="text" th:value="${localidad}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Dirección (provincia, localidad, calle,
							altura):&nbsp;</label><input class="form-control" name="direccion"
							type="text" th:value="${direccion}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Teléfono de contacto para organizar
							fechas:&nbsp;</label><input class="form-control" name="telefono"
							type="text" th:value="${telefono}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*e-mail para contacto:&nbsp;</label><input
							class="form-control" name="mail_contacto" type="email"
							th:value="${mail_contacto}" required></input>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> <label>*Descripción del lugar (máx. 1400
							caracteres). Debe incluir: tipo de establecimiento, equipamiento
							de sonido, arreglo con los músicos (puerta para las bandas,
							arreglo 70-30 o similar por entradas, pago de un cashé, etc.),
							capacidad, estilos musicales de los shows):</label> <br></br>
						<textarea class="form-control textarea-height" name="descripcion"
							type="text" maxlength="1400" th:text="${descripcion}" required></textarea>
						<div class="invalid-feedback">Por favor completa este campo.</div>
						<div class="valid-feedback"></div>
						<br></br> 
						<label>Edita o agregá tres fotos a tu perfil:</label><br>
						<div class="alert alert-danger" role="alert"
							th:text="${aviso_fotos}" th:if="${aviso_fotos}"></div>
						<div class="row">
							<div class="col-md-4 text-center">
								<div id="preview1"></div>
								<img th:src="${foto1}" alt="foto 1" class="img-thumbnail form-control" id="foto-preview1"></img><br>
								<input class="btn btn-outline-light form-control" id="eliminar1"
									value="Eliminar"></input>
								<input type="hidden" th:value="${foto1}" id="foto1" name="foto1"></input>
								<a class="btn btn-outline-light form-control" href="#"
									id="upload_widget_opener1" >Agregar foto</a>
								<br> 
							</div>
							<div class="col-md-4 text-center">
								<div id="preview2"></div>
								<img th:src="${foto2}" alt="foto 2"	class="img-thumbnail form-control" id="foto-preview2"></img><br>
								<input class="btn btn-outline-light form-control" id="eliminar2"
									value="Eliminar"></input>
								<input type="hidden" th:value="${foto2}" id="foto2" name="foto2"></input>
								<a class="btn btn-outline-light form-control" href="#"
									id="upload_widget_opener2">Agregar foto</a>
								<br> 
							</div>
							<div class="col-md-4 text-center">
								<div id="preview3"></div>
								<img th:src="${foto3}" alt="foto 3"	class="img-thumbnail form-control" id="foto-preview3"></img><br>
								<input class="btn btn-outline-light form-control" id="eliminar3"
									value="Eliminar"></input>
									<input type="hidden" th:value="${foto3}" id="foto3" name="foto3"></input>
								<a class="btn btn-outline-light form-control" href="#"
									id="upload_widget_opener3">Agregar foto</a>
								<br> 
							</div>
						</div>
						<br><br>
						<label>Links a redes sociales:&nbsp;</label><br></br> <label>Facebook:&nbsp;</label><input
							class="form-control" name="red_social1" type="url"
							th:value="${red_social1}"></input><br></br> <label>Instagram:&nbsp;</label><input
							class="form-control" name="red_social2" type="url"
							th:value="${red_social2}"></input><br></br> <label>Otro:&nbsp;</label><input
							class="form-control" name="red_social3" type="url"
							th:value="${red_social3}"></input><br></br>

						<div class="text-center">
							<input class="btn btn-outline-light btn-lg" type="submit"
								value="Guardar cambios"></input><br> <br> <a
								class="btn btn-outline-light btn" href="./">Volver</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<!-- Footer -->

	

</body>

</html>
