<!doctype html>
<html>
	<head>
		<title>Editar perfil</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
		
			<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
			<meta charset="UTF-8"></meta>
			
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
			<script src="/js/formulario.js"></script>
	
	</head>
	
		<body>
			<div class="container">
				<div class="row">
					<header class="col-12">
						<h1>Modifica los datos de tu perfil</h1>
					
					</header>
					
				</div>
				
				<div class="row">
					<div class="col-12">
						<form th:action="'/musicos/mi-perfil/procesar-edicion/' + ${id_usuario}" method="POST">
							
							
							<label>Nombre de la banda/solista:&nbsp;</label><input name="nombre" type="text" th:value="${nombre}"></input>
							<br></br>
							<label>Ubicación (Provincia, localidad):&nbsp;</label><input name="ubicacion" type="text" th:value="${ubicacion}"></input>
							<br></br>
							<label>Teléfono de contacto:&nbsp;</label><input name="telefono" type="text" th:value="${telefono}"></input>
							<br></br>
							<label>e-mail para contacto:&nbsp;</label><input name="mail_contacto" type="email" th:value="${mail_contacto}"></input>
							<br></br>
							<label>Descripción del proyecto musical. Debe incluir: requerimientos técnicos de sonido, cantidad de integrantes, estilo musical, <br></br>
							cashé o arreglo mínimo que aceptan (puerta, porcentaje de entradas, etc.)</label>
						    <br></br>
							<textarea name="descripcion" type="text" th:text="${descripcion}"></textarea>
							<br></br>
							<label>Links a redes sociales:&nbsp;</label><br></br>
							<label>Facebook:&nbsp;</label><input name="red_social1" type="url" th:value="${red_social1}"></input><br></br>
							<label>Instagram:&nbsp;</label><input name="red_social2" type="url" th:value="${red_social2}"></input><br></br>						
							<label>Otro:&nbsp;</label><input name="red_social3" type="url" th:value="${red_social3}"></input><br></br>	
							<label>Links a tu música (Youtube, Bandcamp, Spotify, Soundcloud, etc.):&nbsp;</label><br></br>
							<label>YouTube:&nbsp;</label><input name="link_musica1" type="url" th:value="${link_musica1}"></input><br></br>	
							<label>Bandcamp:&nbsp;</label><input name="link_musica2" type="url" th:value="${link_musica2}"></input><br></br>						
							<label>Otro:&nbsp;</label><input name="link_musica3" type="url" th:value="${link_musica3}"></input><br></br>						
							<!-- falta input para cargar fotos -->
							<input type="submit" value="Guardar cambios"></input>	
				
						</form>					
					</div>	
				
				</div>
		</body>


</html>