<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"crossorigin="anonymous"></link>

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/css/scrolling-nav.css"></link>
<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Custom JavaScript for this theme -->

<script src="/js/scrolling-nav.js"></script>
<script src="/js/formulario.js"></script>
<script src="/js/validacionform.js"></script>
<script src="/js/editar.js"></script>


</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">Arma
				Tu Fecha</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						th:href="'/' + ${nombre} + '/' + ${id_usuario} + '/home'">Home</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						th:href="'/' + ${nombre} + '/' + ${id_usuario} + '/mi-perfil'">Mi
							Perfil</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="bg-primary text-white bootstrap-override-header"
		id="color1" layout:fragment="~{header-logueado}"> </header>
	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white d-none">Copyright &copy; Your
				Website 2017</p>
		</div>
		<!-- /.container -->
	</footer>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="/js/cloudinary.js"></script> 

</body>

</html>
