<!DOCTYPE html>
<html lang="es" layout:decorate="estructura-logueado">

<head>

<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>


<title>Logout</title>


</head>

<body id="page-top">

	<!-- Navigation -->


	<header class="bg-primary text-white bootstrap-override-header3"
		id="color1" layout:fragment="header-logueado">
		<div class="container text-center">
			<div class="row">
				<div class="col">

					<h1>Por favor, cierra tu sesión para continuar:</h1>
					<br> <br>

				</div>
			</div>
			<div class="row">
				<div class="col">
					<a class="btn btn-outline-light btn-lg" href="/logout">Logout</a>
				</div>
			</div>


		</div>
	</header>



	<!-- Footer -->


	

</body>

</html>
