<!doctype html>
<html>
	<head>
    	<title>Arma Tu Fecha</title>
	  		<meta charset="UTF-8">
	  		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	  		
	  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
			<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
	  		
	  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  		
	  		<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"></link>

	</head>

		<body>
			<nav class="navbar navbar-default">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span> 
			      </button>
			      <a class="navbar-brand" href="/arma-tu-fecha">Arma Tu Fecha</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a th:href="'/locales/mi-perfil/' + ${id_usuario}">Mi Perfil</a>
			        <li><a href="#">FAQ</a></li>
			        <li><a href="/login">Log in</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
			<div class="container-fluid bg-1 text-center">
			     <h3>Bienvenidx a Arma Tu Fecha!</h3>
			     <h3 class="margin">¿Qué estas buscando?</h3>
			     <a href="/listado-locales" class="btn btn-default btn-lg">Lugares donde no cobren<br>para tocar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			     <a href="/listado-musicos" class="btn btn-default btn-lg">Bandas/musicos solistas/etc.<br>para armar fechas</a>			
			</div>
			  	
			<div class="container-fluid col-12 bg-2 text-center">
			    	<h3 class="margin">¿Qué es Arma Tu Fecha?</h3>
			  		<p>Es un proyecto autogestivo que surge ante la problématica que tienen lxs músicxs independientes <br></br>
			        de no encontrar lugares para tocar donde haya condiciones mínimas de sonido e instalaciones y no les cobren para tocar, <br></br>
			        ya sea porque explícitamente les exijan un monto para tocar en el lugar o que les pidan rendir a través de la venta<br></br>
			        de entradas una determinada suma de dinero lo cual es excluyente para que se realize el evento y que en muchos casos <br></br>
			        luego además les pidan un %50 de la venta del resto de entradas.<br></br>
			        Creemos que lxs músicos debemos dejar de alimentar este negocio y por eso en esta página se van a difundir aquellos lugares <br></br>
			        que den un trato digno a lxs artistas. <br></br>
			        También podes crear un perfil para tu banda para que te encuentren en el listado otrxs músicxs u organizadores.<br></br>
			        </p>
			        <a href="/registro" class="btn btn-default btn-lg">Crear un perfil</a>
			    
			</div>
			
		</body>




</html>