<!DOCTYPE html>
<html lang="es" layout:decorate="~{estructura-listado}">

<head>

<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>


<title>Músicos</title>


</head>

<body>

	<!-- Navigation -->


	<header class="bg-primary text-white bootstrap-override-header2"
		id="color1" layout:fragment="~{header-listado}">
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<h1>
						Revisa los perfiles y encontrá las mejores bandas<br>para
						organizar tu fecha
					</h1>
				</div>

			</div>
		</div>

	</header>
	<!-- Page Content -->
	<section id="about" class="bootstrap-override-section"
		layout:fragment="~{seccion-listado}">
		<div class="container">

			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-4 col-sm-6 portfolio-item"
					th:each="perfilMusico:${listadoMusicos}">
					<div class="card h-100">
						<a th:href="'/musicos/' + ${perfilMusico.nombre} + '/' + ${perfilMusico.id_usuario}"><img
							class="card-img-top" th:src="${perfilMusico.foto1}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
								<a
									th:href="'/musicos/' + ${perfilMusico.nombre} + '/' + ${perfilMusico.id_usuario}"
									th:text="${perfilMusico.nombre}">Project One</a>
							</h4>
							<p class="card-text">
								<label th:text="${perfilMusico.provincia} + ', '"></label>&nbsp;<label
									th:text="${perfilMusico.localidad}"></label><br> <label>Teléfono:&nbsp;
								</label><label th:text="${perfilMusico.telefono}">Teléfono</label><br>
								<label>Mail:&nbsp; </label><label
									th:text="${perfilMusico.mail_contacto}">Mail</label><br>
									<label th:text="${perfilMusico.genero1}"
									th:if="${perfilMusico.genero1 != null && perfilMusico.genero1 != ''}"></label><br> 
									<a th:href="${perfilMusico.red_social1}"
									th:if="${perfilMusico.red_social1 != null && perfilMusico.red_social1 != ''}"
									th:text="${perfilMusico.red_social1}">Facebook</a><br>
								<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.row -->

	<!-- Pagination -->
	<ul class="pagination justify-content-center">
		<li class="page-item"><a class="page-link" href="#"
			aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span
				class="sr-only">Previous</span>
		</a></li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#"
			aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
				class="sr-only">Next</span>
		</a></li>
	</ul>


	<!-- /.container -->

	<!-- Footer -->



</body>

</html>
