
#bootstrap-override-col1 {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 20px;
	margin-top: 30px;
	
}

#bootstrap-override-col2 {
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 20px;
	margin-top: 30px;
	
}

#bootstrap-override-col3 {
	padding-top: 25px;
	margin: 20px;
	margin-top: 30px;
	
}

#bootstrap-override-col4 {
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 20px;
	margin-top: 30px;
}

#bootstrap-override-col5 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top: 0px;
	
}
.bootstrap-override-header {
	padding-bottom: 80px !important;
}


.bootstrap-override-section {
	padding-top: 100px !important;
}

.bootstrap-override-section2 {
	padding-top: 0px !important;
}

#btn1 {
	display: block;
	padding: 32px 14px;
	font-size: 20px; 
}

#btn2 {
	display: block;
	padding: 32px 14px;
	font-size: 20px;
}

#color1 {
	background-color: #117a8b !important;
}

#label1 {
	font-size: 1.5rem;
}

#label2 {
	font-size: 1.5rem;
}