

}
.form-control {
	 min-width: 0;
    width: 25px !important;
}

.color-texto2 {
	color: #808080 !important;
}

#bootstrap-override-col1 {
	padding-top: 20px;
	margin: 20px;
}

#bootstrap-override-col2 {
	padding-top: 20px;
	margin: 20px;
}